@{
    Layout = null;
}
<html>

<head>
    <meta charset="UTF-8" />
    <script src="~/js/jquery-3.5.1.min.js"  asp-append-version="true"></script>
    <script src="~/js/chart.js"  asp-append-version="true"></script>
    <script src="~/js/chartjs-plugin-labels.js"  asp-append-version="true"></script>
    <script src="~/js/RT100.js"  asp-append-version="true"></script>
    <script src="~/js/site.js"  asp-append-version="true"></script>
    <script src="~/js/glider/glider.js"  asp-append-version="true"></script>
    <script src="~/js/kendo.all.min.js"  asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/chartjs-plugin-labels.min.js"  asp-append-version="true"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/css/bootstrap.min.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/RT100.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animation.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/hover.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/graph.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/glider.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/datepicker-bulma.css" asp-append-version="true" />
</head>

<body>
    <section class="page">
        <div id="objectLoader" class="loader-wrapper">
            <div id="loader" class="hidden"></div>
        </div>
        <div class="d-block">
            <section>
                <div class="header_bar">
                    <img loading="lazy"  style="width: 10%;" src="~/assets/CoreLogo.png">
                    <div class="header">Sales Illustrator</div>
                </div>
                <div class="top" style="padding-top: 20px;">
                    <div class="pagination_button" id="pagination">
                        <div style="width: 100%; display: flex; justify-content: space-between;">
                        <div style="margin-right: 0.5rem; display: flex;"><button class="back_button" onclick="back_page()">
                                Back
                            </button></div>


                            <div style="display: flex;">
                            <button class="home_button" onclick="home()">
                                Home Page
                            </button>
                            <div>
                                <button class="next_button" onclick="next_page()">
                                Next
                                </button>
                                <br id="break">
                                <button class="skip_button" style="margin-top: 10px;" onclick="skip()">
                                    Skip
                                </button>
                            </div>

                            
                            </div>
                        </div>
                    </div>

                    <div id="main_title" class="main-title center">
                        Choose Your Preferred Plan
                    </div>
                    <div id="sub_title" class="sub-title center">
                        Life Insurance Solutions for Your Needs 
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_1">
                <div class="bottom">

                    <div class="carousel mt-3" data-flickity='{ "wrapAround": true }'>
                        <div class="carousel-cell">
                            <div onclick=" selectTypeFirstPage('mass'); UpdatePurpose(2);">
                                <div style="     background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Treasure 100</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/rt100/slide_1.png">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A non-participating plan that provides annual Guaranteed Cash Payment (GCP) until the maturity of policy. </li>
                                        <li class="fs_13">This plan also provides coverage on Death or Total & Permanent Disability (TPD).  </li>
                                        <li class="fs_13">Additional coverage will be provided for Death or TPD due to Accident. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-cell">
                            <div onclick="selectTypeFirstPage('premier'); UpdatePurpose(2); ">
                                <div style="     background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Treasure 100 Premier</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/rt100/slide_1_2.png">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A non-participating plan that provides annual Guaranteed Cash Payment (GCP) until the maturity of policy. </li>
                                        <li class="fs_13">This plan also provides coverage on Death or Total & Permanent Disability (TPD).  </li>
                                        <li class="fs_13">Additional coverage will be provided for Death or TPD due to Accident. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-cell">
                            <div onclick="UpdateRHBPurpose()">
                                <div style="     background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Treasure Builder</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/main3.jpg">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A limited 5 or 8 pay regular premium Investment-Linked plan covering Death or Total & Permanent Disability (TPD) up to 20 or 25 years. </li>
                                        <li class="fs_13">This plan also comes with packaged premium paying riders that provides annual Guaranteed Cash Payment (GCP) until the maturity of policy. Additional GCP Booster will also be payable at the end of every five policy year. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="d-flex col-12">
                        <div class="col-4 center">
                            <button onclick="generateSampleGraph(1)">1 - 20 sample</button>
                            <button onclick="generateSampleGraph(2)">1 - 40 sample</button>
                            <button onclick="generateSampleGraph(3)">1 - 100 sample</button>
                        </div>
                        <div class="col-8">
                            <div class="d-mobile overflow_scroll" style="display: grid;">
                                <div id="overall_payout_graph"></div>
                                <p style="text-align:center; font-size:12px; padding: 0; margin: 0; min-height: 0; background: unset;">End of Policy Year (EOPY)</p>
                            </div>
                        </div>
                    </div>*@

                </div>
            </section>

            @* question *@
            <section class="page_section fade-in " id="section_19">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="d-block enquiry_1">
                        <div class="d-block white">
                            <div class="address_name slide-in-bottom information_1">
                                <div class="col-12">
                                    <h4>How do I address you?</h4>
                                </div>
                                <div class="d-flex">
                                    <div class="col-12 px-0">
                                        <div class="d-flex m-auto">
                                            <div class="main-selection w_100">
                                                <input   type="text"
                                                   onkeyup="numberMobile(event)" 
                                                   pattern="[A-Za-z]" class="rt_name" 
                                                   style="background: transparent; border: 0;    width: 100%; height: 100%;     text-align: center; text-align-last: center;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="address_name mt-2 slide-in-bottom information_2">
                                <div class="col-12">
                                    <h4>When were you born?</h4>
                                </div>
                                <div class="d-flex">
                                    <div class="col-12 px-0">
                                        <div class="d-flex m-auto">

                                            <div class=" main-selection w_100">
                                                <input onchange="validateDate(event)" type="date" id="rt_age" name="rt_age" style="background: transparent; border: 0;    text-align: center; text-align-last: center;   width: 100%; height: 100%;">
                                                <!--  min="1995-01-01" max="2000-12-31" -->
                                            </div>
                                        </div>
                                        <small class="hidden red invalid_date">Invalid date</small>
                                    </div>
                                </div>
                            </div>
                            <div class="address_name mt-2 slide-in-bottom information_3">
                                <div class="col-12">
                                    <h4>What is your gender?</h4>
                                </div>
                                <div class="kids hide">
                                    <div class="col-6 center pointer">
                                        <img loading="lazy"  width="150" onclick="submitForm1('male', 'assets/images/Boy icon.png')" src="~/assets/images/Boy icon.png">
                                    </div>
                                    <div class="col-6 center pointer">
                                        <img loading="lazy"  width="150" onclick="submitForm1('female', 'assets/images/Girl icon.png')" src="~/assets/images/Girl icon.png">
                                    </div>
                                </div>
                                <div class="adult hide">
                                    <div class="col-6 center pointer">
                                        <img loading="lazy"  width="150" onclick="submitForm1('male', 'assets/images/Male icon.png')" src="~/assets/images/Male icon.png">
                                    </div>
                                    <div class="col-6 center pointer">
                                        <img loading="lazy"  width="150" onclick="submitForm1('female', 'assets/images/Female icon.png')" src="~/assets/images/Female icon.png">
                                    </div>
                                </div>
                                <div class="old hide">
                                    <div class="col-6 center pointer">
                                        <img loading="lazy"  width="150" onclick="submitForm1('male', 'assets/images/Grandpa icon.png')" src="~/assets/images/Grandpa icon.png">
                                    </div>
                                    <div class="col-6 center pointer">
                                        <img loading="lazy"  width="150" onclick="submitForm1('female', 'assets/images/Grandma icon.png')" src="~/assets/images/Grandma icon.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="page_section fade-in " id="section_2">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="d-block enquiry_1">
                        <div class="d-block white">
                            <div class="address_name center">
                                <div class="col-12">
                                    <h4 id="rt_enteredname"></h4>
                                </div>
                                <div class="col-12">
                                    <h4>Nice to meet you!</h4>
                                </div>

                            </div>
                            <div class="d-block ">
                                <div class="address_name d_hide8pay">
                                    <div class="col-12">
                                        <h4 class="mt-2">What is your desired premium payment term?</h4>
                                    </div>
                                    <div class="d-flex center" style="overflow: auto">
                                        <div class="col-6">
                                            <button class="premium_selection premium_520" onclick="select5()">
                                                5 Pay 
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button class="premium_selection premium_105" onclick="select10()">
                                                10 Pay 
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="address_name d_show8pay">
                                <div class="col-12">
                                    <h4 class="mt-2">What is your desired premium payment term?</h4>
                                </div>
                                <div class="d-flex center" style="overflow: auto">
                                    <div class="col-4">
                                        <button class="premium_selection premium_520" onclick="select5()">
                                            5 Pay 
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="premium_selection premium_825" onclick="select8()">
                                            8 Pay 
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="premium_selection premium_105" onclick="select10()">
                                            10 Pay 
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="address_name">
                                <div class="col-12">
                                    <h4 class="mt-2">What is your desired annual premium amount annually?</h4>
                                </div>
                                <div class="d-flex center" style="overflow: auto">
                                    <div class="col-4">
                                        <button onclick="submitAmount2('1')" class="premium_selection premium_price p1">
                                            RM 15,000  <br>
                                            <span style=" font-weight: 400 !important;">Annual Premium </span>

                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="premium_selection premium_price p2" onclick="submitAmount2('2')">
                                            RM 20,000  <br>
                                            <span style=" font-weight: 400 !important;">Annual Premium </span>
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button class="premium_selection premium_price p3" onclick="submitAmount2('3')">
                                            RM 25,000  <br>
                                            <span style=" font-weight: 400 !important;">Annual Premium </span>


                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="main-generate-button w_100 disabled" id="getyourquote" onclick="submitForm2()">
                                GET YOUR QUOTE
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in " id="section_3">
               <div class="row preference_selection">
                   <div class="col-12 mt-5 d-flex">
                        <div class="col-4">
                            <div class="selection_white_box" onclick="showPreferenceBox('grandchild', '- Gift of Love for your Grandchild -')">

                                   <img loading="lazy"  class="d-block mb-1" style="width: 130px" src="~/assets/rt100/preference_select_1.png" />
                                    Gift of Love for <br /> your Grandchild
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="selection_white_box" onclick="showPreferenceBox('generation', '- Legacy for Next Generation -')">
                                 <img loading="lazy"  class="d-block mb-1" style="width: 130px" src="~/assets/rt100/preference_select_2.png" />
                                 Legacy for Next <br /> Generation

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="selection_white_box" onclick="showPreferenceBox('incomesource', '- 2nd Income Source -')">
                                 <img loading="lazy"  class="d-block mb-1" style="width: 130px" src="~/assets/rt100/preference_select_3.png" />
                                 2nd Income Source
                            </div>
                        </div>
                    </div>
               </div>

               <div>
                   <div class="grandchild">
                       <div class="container">
                            <div class="col-7">

                                <div class="d-flex justify-center mt-1">
                                    <div class="center px-2">
                                        <img loading="lazy"  width="150" class="preference_image_1" src="~/assets/images/Grandpa icon.png">
                                        <h5><span class="selected_name">JIMMY</span> <br /> (Payor)</h5>

                                    </div>
                                    <div class="center px-2">
                                        <img loading="lazy"  width="150" class="preference_image_2" src="~/assets/images/Male icon.png">
                                        <h5><span class="selected_name">JIMMY</span>’s SON <br /> (Proposer)</h5>

                                    </div>
                                    <div class="center px-2">
                                        <img loading="lazy"  width="140" class="preference_image_3" src="~/assets/images/Boy icon.png">
                                        <h5><span class="selected_name">JIMMY</span>'s <br /> GRANDSON <br /> (Life Assured)</h5>

                                    </div>
                                </div>


                                <p class="fs_25 center mt-2">
                                    <b class="selected_name">JIMMY</b> purchases RHB Treasure 100 for <span class="gender_verb">his</span> grandson
                                    RM<span class="aap">XXX,XXX</span> annually for <span class="amp">X</span> years with coverage term till age 100. <br />
                                    With RHB Treasure 100, <b class="selected_name">JIMMY</b> is able to ensure the 
                                    Immediate insurance coverage and lifelong income for <span class="gender_verb">his</span> grandson.

                                </p>
                            </div>

                            <div class="col-5 pb-4" style="display: flex; justify-content: center;align-items: center;">
                                <img loading="lazy"  style="width: 100%;
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;" src="~/assets/rt100/preference_new.png" />
                            </div>
                        </div>
                   </div>
                   <div class="generation">
                       <div class="container">
                            <div class="col-7">

                                <div class="d-flex justify-center mt-1">
                                    <div class="center px-2">
                                        <img loading="lazy"  width="150" class="preference_image_4" src="~/assets/images/Male icon.png">
                                        <h5><span class="selected_name">JIMMY</span><br /> (Proposer)</h5>

                                    </div>
                                    <div class="center px-2">
                                        <img loading="lazy"  width="140" src="~/assets/images/Boy icon.png">
                                        <h5><span class="selected_name">JIMMY</span>'s <br /> SON <br /> (Life Assured)</h5>

                                    </div>
                                </div>


                                <p class="fs_25 center mt-2">
                                    <b class="selected_name">JIMMY</b>  purchases RHB Treasure 100 for <span class="gender_verb">his</span> son
                                        RM<span class="aap">XXX,XXX</span> annually for <span class="amp">X</span> years with coverage term till age 100. <br />
                                    With RHB Treasure 100, <b class="selected_name">JIMMY</b> is able to ensure immediate insurance coverage
                                    and a money tree for <span class="gender_verb">his</span> child.

                                </p>
                            </div>

                            <div class="col-5 pb-4" style="display: flex; justify-content: center;align-items: center;">
                                <img loading="lazy"  style="width: 100%;
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;" src="~/assets/rt100/preference_new.png" />
                            </div>
                        </div>
                   </div>
                   <div class="incomesource">
                       <div class="container">
                            <div class="col-7">

                                <div class="d-flex justify-center mt-1">
                                    <div class="center px-2">
                                        <img loading="lazy"  width="150" class="mb-1 second_income_img" src="~/assets/rt100/preference_3.png">
                                        <h5><span class="selected_name">JIMMY</span></h5>

                                    </div>
                                </div>


                                <p class="fs_25 center mt-2">
                                    <b class="selected_name">JIMMY</b>  purchases RHB Treasure 100 for <span class="gender_verb_self">himself</span>
                                    RM<span class="aap">XXX,XXX</span> annually for <span class="amp">X</span> years with coverage term till age 100. <br />
                                    With RHB Treasure 100, <b class="selected_name">JIMMY</b> is able to create 2nd income source for <span class="gender_verb">his</span> future.

                                </p>
                            </div>

                            <div class="col-5 pb-4" style="display: flex; justify-content: center;align-items: center;">
                                <img loading="lazy"  style="width: 100%;
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;" src="~/assets/rt100/preference_new.png" />
                            </div>
                        </div>
                   </div>
               </div>
            </section>

            <section class="page_section" id="section_4">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="d-block summary_1">
                        <div class="d-block white" style="padding: 10px">

                            <div style="text-transform: capitalize;" class="center overview_green_bar overview_title_caption">
                                RHB Treasure 100
                            </div>

                            <div class="center d-flex mb-1" style="    align-items: end; justify-content: center;">
                                <div class="pr-2">
                                    <img loading="lazy"  width="100" src="~/assets/rt100/overview_heart.png">
                                    <p class="mb-0 overview_actual_age">xx years old </p>
                                </div>
                                <div class="pl-2">
                                    <img loading="lazy"  width="150" class="overview_img" src="~/assets/images/Male icon.png">
                                    <p class="mb-0 overview_gender" style="     text-transform: capitalize;   border-left: 0.5px#362f29 solid;margin-top: -10px">Male</p>
                                </div>
                            </div>

                            <div class="row d-flex">
                                <div class="col-12 px-0 d-flex">
                                    <div class="col-3 center">
                                        <div class="d-block center overview_box">
                                            <img loading="lazy"  class="d-block m-auto mt-1" width="40" src="~/assets/rt100/overview_shield.png">
                                     
                                            <h5 class="mb-0 mt-1 premium_age_minus fs_115" id="">20</h5>
                                            <span class="fs_115">YEARS</span> 
                                            
                                            <div class="overview_box_bottom">
                                                COVERAGE TERM
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 center">
                                        <div class="d-block center overview_box">
                                            <img loading="lazy"  class="d-block m-auto mt-1" width="40" src="~/assets/rt100/overview_cert.png">
                                     
                                            <h5 class="mb-0 mt-1 premium_payment_term fs_115" id="">5</h5>
                                            <span class="fs_115">YEARS</span> 
                                            
                                            <div class="overview_box_bottom">
                                                PREMIUM PAYMENT TERM
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 center">
                                        <div class="d-block center overview_box">
                                            <img loading="lazy"  class="d-block m-auto mt-1" width="40" src="~/assets/rt100/overview_coin.png">
                                     
                                            <h5 class="mb-0 mt-1 basic_sum_premium fs_115" id="">100,000</h5>
                                            <span class="fs_115">MYR</span> 
                                            
                                            <div class="overview_box_bottom">
                                                BASIC SUM ASSURED

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3 center">
                                        <div class="d-block center overview_box box_5 overview_clickable" onclick="checkOverview(5)">

                                            <div class="box_check"></div>
                                            <img loading="lazy"  class="d-block m-auto mt-1" width="40" src="~/assets/rt100/overview_coin.png">
                                     
                                            <h5 class="mb-0 mt-1 basic_sum_premium fs_115" id="">100,000</h5>
                                            <span class="fs_115">MYR</span> 
                                            
                                            <div class="overview_box_bottom">
                                                BASIC ANNUAL PREMIUM

                                            </div>

                                            <div class="box_animation">
                                               <div class="animating_click ping"></div>
                                               <img loading="lazy"  class="animating_finger move_upward" width="40" src="~/assets/rt100/tap.png">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row d-flex ">

                                <div class="col-12 px-0 d-flex">
                                    <div class="col-3 center">
                                        <div class="d-block center overview_box_2 box_6 overview_clickable overview_disable" onclick="checkOverview(6)">
                                            <div class="box_check"></div>
                                            <img loading="lazy"  class="d-block m-auto mt-1" width="40" src="~/assets/rt100/overview_angelheart.png">
                                     
                                            <span class="fs_13 fs_68">Up to higher of</span>
                                            <h5 class="mb-0 mt-0 fs_115 fw_bold">105% of Total Basic <br /> Premium Paid</h5>
                                            <span class="fs_13 fs_68">LESS total GCP declared up to date or <br /> Basic Sum Assured</span> 
                                            
                                            <div class="overview_box_bottom_2">
                                                DEATH BENEFIT

                                            </div>

                                            <div class="box_animation"></div>
                                        </div>
                                    </div>

                                    <div class="col-3 center">
                                        <div class="d-block center overview_box_2 box_7 overview_clickable overview_disable" onclick="checkOverview(7)">

                                            <div class="additional_box">ADDITIONAL</div>
                                            <div class="box_check"></div>
                                            <img loading="lazy"  class="d-block m-auto mt-1" width="55" src="~/assets/rt100/disabled_person.png">
                                     
                                            <h5 class="mb-0 mt-1 fs_115" id="">Waive Basic Premium</h5>
                                            <span class="fs_68">starting from next premium payment <br /> due following event date</span> 
                                            
                                            <div class="overview_box_bottom_2">
                                                TOTAL & PERMANENT 
                                                DISABILITY (TPD) BENEFIT

                                            </div>

                                            <div class="box_animation"></div>
                                        </div>
                                    </div>

                                    <div class="col-3 center">
                                        <div class="d-block center overview_box_2 box_8 overview_clickable overview_disable" onclick="checkOverview(8)">
                                            <div class="additional_box">ADDITIONAL</div>
                                            <div class="box_check"></div>
                                            <img loading="lazy" style="margin-bottom: 20px !important" class="d-block m-auto mt-1" width="50" src="~/assets/rt100/overview_accident.png">
                                     
                                            <span class="fs_13 fs_68">Additional</span>
                                            <h5 class="mb-0 mt-0 fs_115">100% of Basic Sum Assured</h5>
                                            <span class="fs_13 fs_68">on TOP of non accidental benefit</span>  
                                            
                                            <div class="overview_box_bottom_2">
                                                ACCIDENTAL DEATH / 
                                                TPD BENEFIT


                                            </div>

                                            <div class="box_animation"></div>
                                        </div>
                                    </div>

                                    <div class="col-3 center">
                                        <div class="d-block center overview_box_2 box_9 overview_clickable overview_disable" onclick="checkOverview(9)">
                                            <div class="optional_box">OPTIONAL</div>
                                            <div class="box_check"></div>
                                            <img loading="lazy"  class="d-block m-auto mt-1" width="60" src="~/assets/rt100/overview_chat.png">
                                     
                                            <h5 class="mb-0 mt-1" id="premium_1">
                                                <ul class="overview_li">
                                                    <li>
                                                        Life Term Cover Rider
                                                    </li>
                                                    <li>Payor Term Cover Rider</li>
                                                    <li>Payor Premium Waiver Rider</li>

                                                </ul>
                                            </h5>
                                            
                                            <div class="overview_box_bottom_2">
                                                OPTIONAL RIDERS
                                            </div>

                                            <div class="box_animation"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                             <div class="row d-flex">

                                <div class="col-12 px-0 d-flex">
                                    <div class="col-3 center">
                                        <div class="d-block center overview_box_3 box_10 overview_clickable overview_disable" onclick="checkOverview(10)">
                                            <div class="box_check"></div>
                                            <img loading="lazy"  class="d-block m-auto mt-1" style="margin-bottom: 15px !important;" width="40" src="~/assets/rt100/overview_moneybag.png">
                                     
                                            <span class="fs_13 fs_68">GCP</span>
                                            <h5 class="mb-0 mt-0 fs_115 fw_bold" id="guaranteed_cash_payment">RM XXX</h5>
                                            <span class="fs_13 fs_68">on final policy year</span> 

                                            <div class="overview_box_bottom_3">
                                                GUARANTEED CASH 
                                                PAYMENT (GCP)
                                            </div>

                                            <div class="box_animation"></div>
                                        </div>
                                    </div>


                                    @*overview_green_lg_bx*@
                                    <div class="col-9 center " style="padding-top:30px">
                                  @*      <div class="col-12 overview_inside_green_content box_29 overview_clickable overview_disable fs_115" onclick="checkOverview(29)">
                                            <div class="box_check"></div>
                                            OVERALL PAYOUT RECEIVED VS TOTAL PREMIUM PAID


                                            <div class="box_animation"></div>
                                        </div>*@

                                        
                                        <div class="w-100 col-12 px-0">
                                            
                                            <div class="overview_inside_green_content box_11 overview_clickable overview_disable last_green_bg_box fs_115" onclick="checkOverview(11)" style="margin-top: 45px">
                                                <div class="box_check"></div>
                                                IMPACT OF EARLY TERMINATION / SURRENDER
                                                <div class="box_animation"></div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_5">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="summary_2 d-flex">
                        <div class="d-flex summary_2_1">
                            <div class="graph_bg d-flex slide_29 summary_2_3">
                                <div class="row">
                                    <div class="col">
                                        <div>
                                            <p class="graph_title">If Premium is Payable Yearly for <span id="premium_years"></span> Years With Annual Premium of RM <span id="premium_paid"></span> </p>
                                            <div class="relative">
                                                <canvas id="premium_yearly"></canvas>      
                                                <div class="absolute-center text-center">
                                                    <p id="enteredGraph"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col p-1">
                                        <div>
                                            <p class="graph_title">If Premium is Payable With Advanced Premium Option (APO) </p>
                                            <div class="relative">
                                                <canvas id="premium_advanced"></canvas>      
                                                <div class="absolute-center text-center">
                                                    <p id="enteredGraph2"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <small class="graph_caption">
                            * The current Advanced Premium Option (APO) interest rate is 3% p.a.. The actual interest declared is not guaranteed and depends on the company’s investment and operating performance.

                        </small>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_6">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="d-block summary_1">
                        <div class="d-flex">
                            <div class="graph_bg mobile_flex slide_29 slide_29_extra">
                                <div style="max-width: 335px; float: left;    background: #fff; padding: 10px;">
                                    <div>
                                        <p class="fs_16">The overall protection payout for death is any accumulated GCP and GCP interest + the following whichever applicable based on the event date: </p>
                                    </div>

                                    <div>
                                        <ul>
                                            <li>
                                                Policy Year 1 – 2: <br />
                                                100% of Total Basic Premium Paid minus total GCP declared up to date
                                            </li>
                                            <li>
                                                Policy Year 3 & onwards: <br />
                                                Higher of  <br />


                                                (a) &nbsp; Basic Sum Assured; or <br />
                                                (b) &nbsp; 105% of Total Basic Premium Paid minus total GCP declared up to date
                                            </li>

                                        </ul>

                                    </div>

                                </div>

                                <div class="slide_29_right pt-2">
                                    <div>
                                        <div class="slide_29_a overflow_scroll payout_for_death_chart_div" style="display: grid">
                                            <div id="payout_for_death_chart"></div>
                                            <p style="text-align:center; font-size:12px; padding: 0; margin: 0; min-height: 0; background: unset;">End of Policy Year (EOPY)</p>
                                        </div>
                                    </div>
                                    

                                    <div>
                                        <div class="slide_29_b overflow_scroll overall_gcp_boosted_graph_div" style="display: gird">
                                            <div id="overall_gcp_boosted_graph"></div>
                                            <p style="text-align:center; font-size:12px; padding: 0; margin: 0; min-height: 0; background: unset;">End of Policy Year (EOPY)</p>
                                        </div>
                                    </div>
                                    

                                  @*  <div id="DeathButton" class="main-generate-button booster_button px-3" onclick="checkBoostedGraphSelection();">
                                        Click to show GCP & GCP Booster Declared Up to Date
                                    </div>*@
                                </div> 
                            </div>
                        </div>
              @*          <div class="col-12 d-block mt-1 section_24_footer" style="font-size: 11px">
                            Note: The GCP accumulation interest rate for RHB Treasure 100 is 3% p.a.. The rate is not guaranteed and depending on the Company’s investment experience.


                        </div>*@

                        <div class="reference_table hide mt-5"style="width: auto; margin-left: auto; margin-right: auto">
                            <table>
                                <thead>
                                    <tr class="reference_header">
                                    </tr>
                                </thead>
                                <tbody class="reference_data">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_7">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="summary_2 d-flex">
                        <div class="d-flex summary_2_1" style="overflow: auto">
                            <table style="    width: 80%; margin: auto;">
                                <thead>
                                    <tr>
                                        <th class="tpd_font" style="    width: 30%; height: 60px;">
                                            Policy Year

                                        </th>
                                        <th class="tpd_font">
                                            Total & Permanent Disability (TPD) Benefit

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tpd_font">
                                            1 – 2
                                        </td>
                                        <td class="tpd_font">
                                            100% of Total Basic Premium Paid<br />
                                            minus GCP declared up to date<br />
                                            plus any accumulated GCP and GCP interest
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tpd_font">
                                            3 & onwards
                                        </td>
                                        <td class="tpd_font">
                                            Waive Basic Premium starting from<br />
                                            next premium payment due following the event date<br />
                                            while GCP will continue to be payable
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in " id="section_8">
                 <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="summary_2 d-flex">
                        <div class="d-flex summary_2_1">
                            <div class="graph_bg d-flex slide_29 summary_2_3" style="margin: 0px !important">
                                <div class="row" style="align-items: center;">
                                    <div class="col-5 center">
                                        <img loading="lazy"  style="    width: 150;" src="~/assets/images/Accident.png">
                                        <p id="enteredamount2">RM <span class="basic_sum_premium"></span></p>
                                    </div>
                                    <div class="col-7">
                                        <p class="married_text">
                                            Additional 100% of Basic Sum Assured 
                                        upon Accidental Death or Total and Permanent Disability due to Accident

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="font-size: 11px" id="slide_28_footer" class="mb-0 mt-1">
                            Note: Accidental Death and Accidental TPD benefit will cease at the policy anniversary immediately following the attainment of age 70 years old. The Maximum additional Accidental Death or Accidental TPD amount payable is RM10 million per life. 

                        </p>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_9" >
                 <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="summary_2 d-flex">
                        <div class="d-flex summary_2_1 center">
                            <div style="    padding: 10px; background: #d4eef1; border: 0.5px #0096a9 solid;">
                                <h5>WHAT IS <b>LIFE TERM COVER RIDER?</b></h5>
                                <p class="fs_16 mb-0">
                                    <b>Life Term Cover Rider</b> is an optional rider that pays a lump sum of Rider Sum Assured <br />
                                        in the event of <u>Life Assured’s</u> Death or TPD during the rider coverage term.
                                </p>
                            </div>

                            <div class="mt-2 mb-2" style="    padding: 10px; background: #d4e6f1; border: 0.5px #0060a9 solid;">
                                <h5>WHAT IS <b>PAYOR TERM COVER RIDER?</b></h5>
                                <p class="fs_16 mb-0">
                                    <b>Payor Term Cover Rider</b> is an optional rider that pays a lump sum of Rider Sum Assured <br />
                                    in the event of <u>Policy Owner’s</u> Death or TPD during the rider coverage term.
                                </p>
                            </div>

                            <div style="    padding: 10px; background: #cbecee; border: 0.5px #03717f solid;">
                                <h5>WHAT IS <b>PAYOR PREMIUM WAIVER RIDER?</b></h5>
                                <p class="fs_16 mb-0">
                                    <b>Payor Premium Waiver Rider</b> is an optional rider that waives future premium of the basic plan and any <br />
                                    premium paying rider if the <u>Policy Owner</u> passes away, suffers from TPD, or upon diagnosis of any of the <br />
                                    covered Dread Disease.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>

            <section class="page_section fade-in" id="section_10" >
                <div class="bottom" style="align-items: flex-start; height: auto">
                    <div class="d-block summary_1">
                        <div class="d-flex" style="justify-content: center">
                            <div class="col-4 center">
                                <div onclick="changeTab('preferred-button-received')" class="preferred-button preferred-button-received">
                                    <h4>
                                        RECEIVE
                                    </h4>
                                </div>
                            </div>
                            <div class="col-4 center ">
                                <div onclick="changeTab('preferred-button-accumulated')" class="preferred-button preferred-button-accumulated">
                                    <h4>
                                        ACCUMULATE
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 p-1">
                                    <div class=" graph_bg" style="    max-height: fit-content;">
                                        <div>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th style="    height: 80px; width: 35%;">
                                                            End of Policy Year (EOPY)
                                                        </th>
                                                        <th>Guaranteed Cash Payment (GCP)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="eopy_table">
                                                   
                                                </tbody>

                                            </table>
                                        </div>

                                        
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 p-1 gcp_right_section gcp_preferred-button-received">
                                    <div class="graph_bg" style="    max-height: fit-content;">
                                        <div class="d-mobile overflow_scroll" style="display: grid;">
                                            <div id="gcp_receive_chart"></div>
                                            <p style="text-align:center; font-size:12px; padding: 0; margin: 0; min-height: 0; background: unset;">End of Policy Year (EOPY)</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 p-1 gcp_right_section gcp_preferred-button-accumulated">
                                    <div class="graph_bg" style="max-height: fit-content;">
                                         <div class="d-flex d-mobile" style="height: 100%">
                                         
                              
                                    <div class="bg_white d-flex" style="align-items:center;font-size:20px;">
                                  The current GCP accumulation interest rate is 3% p.a.. 
                                  The actual interest rate used for accumulation may be depending on the Company’s investment experience. 
                                  This rate is not guaranteed and is subject to change without prior notice.
                                    </div>
                                
                           
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                      @*  <div class="col-12 px-0 d-block mt-1 section_28_footer" style="font-size: 11px">
                            Note: The GCP accumulation interest rate for RHB Treasure 100 is 3% p.a.. The rate is not guaranteed and depends on the Company’s investment experience.

                        </div>*@


                        <div class="reference_table hide mt-5"style="width: auto; margin-left: auto; margin-right: auto">
                            <table>
                                <thead>
                                    <tr class="reference_header">
                                    </tr>
                                </thead>
                                <tbody class="reference_data">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                
            </section>

         @*   <section class="page_section fade-in " id="section_29">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="d-block summary_1">
                        <div class="d-flex" style="justify-content: center">
                            <div class="col-4 center">
                                <div onclick="oprvstpp_right_receive()" class="preferred-button oprvstpp_left slide_29_button preferred-button-received">
                                    <h4>
                                        RECEIVE
                                    </h4>
                                </div>
                            </div>
                            <div class="col-4 center ">
                                <div onclick="oprvstpp_accumulate()" class="preferred-button oprvstpp_right slide_29_button preferred-button-accumulated">
                                    <h4>
                                        ACCUMULATE
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 p-1">
                                    <div class="center graph_bg" style="    max-height: fit-content;">
                                        <div class="bg_white p-2">
                                            <h5>Total Payout Received</h5>
                                            <h3 class="total_premium_paid">RM XXX</h3>
                                            <b>(<span class="total_premium_paid_percentage">X</span>% of Total Basic Premium Paid)</b>

                                            <p class="fs_13 mb-0">while holding the policy to maturity</p>
                                        </div>

                                        <div class="bg_white p-2 mt-2 mb-2">
                                            <b>Breakeven at Policy Year <span class="breakeven_year"></span></b>
                                        </div>

                                        <div class="bg_white p-2">
                                            <h5>Annualized Return </h5>
                                            <h3 class="annualized_return">X.XX% </h3>

                                            <p class="fs_13 mb-0">while holding the policy to maturity</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 p-1 gcp_right_section gcp_preferred-button-received opr_tpp_receive_graph_div">
                                    <div class="graph_bg" style="    max-height: fit-content;">
                                        <div class="d-mobile overflow_scroll" style="display: grid;">
                                            <div id="opr_tpp_receive_graph"></div>
                                            <p style="text-align:center; font-size:12px; padding: 0; margin: 0; min-height: 0; background: unset;">End of Policy Year (EOPY)</p>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 p-1 gcp_right_section gcp_preferred-button-accumulated opr_tpp_accumulate_graph_div">
                                    <div class="graph_bg" style="max-height: fit-content;">
                                        <div class="d-mobile overflow_scroll" style="display: grid;">
                                             <div id="opr_tpp_accumulate_graph"></div>
                                            <p style="text-align:center; font-size:12px; padding: 0; margin: 0; min-height: 0; background: unset;">End of Policy Year (EOPY)</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-12 px-0 d-block mt-1 section_29_footer" style="font-size: 11px">
                            * The GCP accumulation interest rate for RHB Treasure 100 is at 3% p.a.. The rate is not guaranteed and depending on the Company’s investment experience.

                        </div>


                        <div class="reference_table hide mt-5"style="width: auto; margin-left: auto; margin-right: auto">
                            <table>
                                <thead>
                                    <tr class="reference_header">
                                    </tr>
                                </thead>
                                <tbody class="reference_data">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>*@

            <section class="page_section fade-in " id="section_11">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="d-block summary_1">
                       <div class="d-flex" style="justify-content: center">
                            <div class="col-4 center">
                                <div onclick="getSurrenderReceive()" class="surrender_receive new_surrender_acc_btn preferred-button preferred-button-received">
                                    <h4>
                                        RECEIVE
                                    </h4>
                                </div>
                            </div>
                   @*         <div class="col-4 center ">
                                <div onclick="getSurrenderAccumulated()" class="surrender_accumulated new_surrender_acc_btn preferred-button preferred-button-accumulated">
                                    <h4>
                                        ACCUMULATE
                                    </h4>
                                </div>
                            </div>*@
                        </div>

                        <div style="margin-top: 1em;">
                            <div class="d-flex col-12" style="overflow-x: scroll;">
                                <table id="overall_payout_table">
                                    
                                </table>
                            </div>
                        </div>

                        <div style="padding: 5px;
                        text-align: center;
                        color: red;
                        font-size: 20px;
                        background: #E9E9E9;
                        margin: 15px 0px;"> WARNING: Early surrender will lead to a potential loss.</div>

                    @*    <p style="font-size: 11px" id="slide_28_footer" class="mb-0 mt-1 last_slide_footer">
                            Note: <br />
                            The GCP accumulation interest rate for RHB Treasure 100 is at 3% p.a.. The rate is not guaranteed and depending on the Company’s investment experience.

                        </p>*@
                    </div>
                </div>
            </section>


            <div class="strict">
                    STRICTLY FOR INTERNAL USE ONLY
            </div>

        </div>
    </section>
</body>

</html>