@{
    Layout = null;
}
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <script src="~/js/jquery-3.5.1.min.js"  asp-append-version="true"></script>
    <script src="~/js/chart.js"  asp-append-version="true"></script>
    <script src="~/js/chartjs-plugin-labels.js"  asp-append-version="true"></script>
    <script src="~/js/sales_illustrator.js"  asp-append-version="true"></script>
    <script src="~/js/site.js"  asp-append-version="true"></script>
    <script src="~/js/glider/glider.js" asp-append-version="true"></script>
    <script src="~/js/kendo.all.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/chartjs-plugin-labels.min.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/css/bootstrap.min.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/RT100.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/animation.css"  asp-append-version="true" />
    <link rel="stylesheet" href="~/css/hover.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/graph.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/glider.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/datepicker-bulma.css"  asp-append-version="true"/>
    
</head>

<body>
    <section class="page">
        <div id="objectLoader" class="loader-wrapper">
            <div id="loader" class="hidden hide"></div>
        </div>
        <div class="d-block">
            <section>
                <div class="header_bar">
                    <img loading="lazy"  style="width: 10%;" src="~/assets/CoreLogo.png">
                    <div class="header">Sales Illustrator</div>
                </div>
                <div class="top">
                    <div class="pagination_button" id="pagination">
                        <div style="width: 100%; display: flex; justify-content: space-between;">
                            <div style="margin-right: 0.5rem; display: flex;">
                                <button class="back_button" onclick="back_page()">
                                    Back
                                </button>
                            </div>

                            <div style="display: flex;">
                                <button class="home_button" onclick="home()">
                                    Home Page
                                </button>
                                <div>
                                    <button class="next_button" onclick="next_page()">
                                        Next
                                    </button>
                                    <br id="break">
                                    <button class="skip_button" style="margin-top: 10px;" onclick="skip()">
                                        Skip
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="main_title" class="main-title center">
                        Welcome to your personalized Sales Illustrator!
                    </div>
                    <div id="sub_title" class="sub-title center">
                        Let’s start to have your financial planning.
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_1">
                <div class="bottom">
                    <div class="center">
                        <img class="mt-2" style="width:40%;" src="~/assets/sales-ill/mascot.png">
                        <div id="start" style="display: flex; justify-content: center; margin-top: 2rem;">
                            <div class="main-button2" onclick="next_page()">
                                Start
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @* Question *@
            <section class="page_section" id="section_2">
                <div class="bottom mt-2" style="align-items: flex-start; height: auto">
                    <div class="d-block enquiry_main">
                        <div class="d-block white">

                            <div class="address_name slide-in-bottom">
                                <div class="col-12">
                                    <h4>How should we address you?</h4>
                                </div>
                                <div class="d-flex">
                                    <div class="col-12 px-0">
                                        <div class="d-flex m-auto">
                                            <div class="main-selection w_100">
                                                <input type="text"
                                                       onkeyup="numberMobile(event)"
                                                       pattern="[A-Za-z]" class="name"
                                                       style="background: transparent; border: 0;  text-align: center;  width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                        <small class="hidden red invalid_name">Invalid Name</small>
                                    </div>
                                </div>

                            </div>

                            <div class="address_dob address_name slide-in-bottom">
                                <div class="col-12">
                                    <h4>When were you born?</h4>
                                </div>
                                <div class="d-flex">
                                    <div class="col-12 px-0">
                                        <div class="d-flex m-auto">

                                            <!-- isNonMobile -->
                                            <div class=" main-selection w_100">
                                                <input onchange="validateDate(event)" type="date" id="age" name="age" style="background: transparent; border: 0;  text-align: center;    width: 100%; height: 100%;">
                                                <!--  min="1995-01-01" max="2000-12-31" -->
                                            </div>
                                        </div>
                                        <small class="hidden red invalid_date">Invalid date</small>
                                    </div>
                                </div>
                            </div>

                            <div class="address_gender address_name slide-in-bottom">
                                    <div class="col-12">
                                        <h4>When is your gender?</h4>
                                    </div>
                                
                                <div class="row">
                                    <div class="col-6 pointer">
                                        <img width="150" id="femaleBox" class="genderBorder" onclick="validateGender('female')" src="~/assets/images/Female icon.png">
                                    </div>
                                    <div class="col-6 pointer">
                                        <img width="150" id="maleBox" class="genderBorder2" onclick="validateGender('male')" src="~/assets/images//Male icon.png">
                                    </div>
                                </div>
                            </div>

                            <div class="address_martial address_name slide-in-bottom">
                                <div class="row">
                                    <div class="col-6">
                                        <h4 style="font-size: 18px; font-weight: 600;">What is your marital status?</h4>
                                        <div class="d-flex">
                                            <div class="col-12 px-0">
                                                <div class="d-flex m-auto">

                                                    <!-- isNonMobile -->
                                                    <div class=" main-selection w_100">
                                                        <select onchange="validateMartial();" id="martialStats" style="background: transparent; border: 0; text-align: center; width: 100%; height: 100%;">
                                                            <option value="">-Please Select-</option>
                                                            <option value="D">DIVORCED</option>
                                                            <option value="M">MARRIED</option>
                                                            <option value="S">SINGLE</option>
                                                            <option value="W">WIDOWED</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <small class="hidden red martial_invalid">Please select an option</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h4 style="font-size: 18px; font-weight: 600;">Do you have any Children?</h4>
                                        <div class="d-flex">
                                            <div class="col-12 px-0">
                                                <div class="d-flex m-auto">

                                                    <!-- isNonMobile -->
                                                    <div class=" main-selection w_100">
                                                        <select onchange="validateChild();" id="childopt" style="background: transparent; border: 0; text-align: center; width: 100%; height: 100%;">
                                                            <option value="">-Please Select-</option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <small class="hidden red children_invalid">Please select an option</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="address_occupation address_name slide-in-bottom">
                                <div class="col-12">
                                    <h4>What is your occupation?</h4>
                                </div>
                                <div class="row">
                                    <div class="col-6" style="font-size: 18px; font-weight: 600;">Nature of Business/Industry</div>
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="col-12 px-0">
                                                <div class="d-flex m-auto">

                                                    <!-- isNonMobile -->
                                                    <div class=" main-selection w_100">
                                                        <select onchange="validateNature();" id="natureopt" style="background: transparent; border: 0; text-align: center; width: 100%; height: 100%;">
                                                            <option value="">-Please Select-</option>
                                                        </select>
                                                        <!--  min="1995-01-01" max="2000-12-31" -->
                                                    </div>
                                                </div>
                                                <small class="hidden red nature_invalid">Please select an option</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-6" style="font-size: 18px; font-weight: 600;">Occupation</div>
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div class="col-12 px-0">
                                                <div class="d-flex m-auto">

                                                    <!-- isNonMobile -->
                                                    <div class=" main-selection w_100">
                                                        <select onchange="validateOccupation();" id="occupationDrop" style="background: transparent; border: 0; text-align: center; width: 100%; height: 100%;">
                                                            <option value="">-Please Select-</option>
                                                        </select>
                                                        <!--  min="1995-01-01" max="2000-12-31" -->
                                                    </div>
                                                </div>
                                                <small class="hidden red occupation_invalid">Please select an option</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </section>

            @* Priority*@
            <section class="page_section" id="section_3">
                <div class="isNonMobile" style="flex-direction: column;">
                    <div class="row mobile_view_slide_two" style="justify-content:center;">
                        <div class="box2 fade-in" id="prio1" onclick="submitPriority(1,4);">
                            <span class="hover_text">Retirement</span>
                            <img src="~/assets/images/Retirement.jpg" />

                        </div>
                        <div class="box2 fade-in2" id="prio2" onclick="submitPriority(2,7);">
                            <span class="hover_text">Investment</span>
                            <img src="~/assets/images/Diversification.jpg" />

                        </div>
                        <div class="box2 fade-in3" id="prio3" onclick="submitPriority(3,10);">
                            <span class="hover_text legacy_word">Income Replacement</span>
                            <img src="~/assets/images/incomeReplace.png" />

                        </div>
                    </div>
                    <div class="row mobile_view_slide_two">
                        <div class="box2 fade-in4" id="prio4" onclick="submitPriority(4,13);">
                            <span class="hover_text" is="target_id">Education</span>
                            <img src="~/assets/images/Education.jpg">
                        </div>
                        <div class="box2 fade-in5" id="prio5" onclick="submitPriority(5,16);">
                            <span class="hover_text" is="target_id">Regular Savings</span>
                            <img src="~/assets/images/regularSave.jpg">
                        </div>
                    </div>
                </div>

                <div class="isMobile" style="display:block !important;">
                    <div class="row mobile_view_slide_two" style="justify-content: center;">
                        <div class="box2 fade-in2" id="prio1M" onclick="mobileClickOccurence(1,4);">
                            <span class="hover_text" is="target_id">Retirement</span>
                            <img src="~/assets/images/Retirement.jpg" />

                        </div>
                        <div class="box2 fade-in3" id="prio2M" onclick="mobileClickOccurence(2,7);">
                            <span class="hover_text" is="target_id">Investment</span>
                            <img src="~/assets/images/Diversification.jpg" />

                        </div>
                        <div class="box2 fade-in4" id="prio3M" onclick="mobileClickOccurence(3,10);">
                            <span class="hover_text" is="target_id">Income Replacement</span>
                            <img src="~/assets/images/incomeReplace.png" />

                        </div>
                    </div>
                    <div class="row mobile_view_slide_two" style="justify-content: center;">
                        <div class="box2 fade-in" id="prio4M" onclick="mobileClickOccurence(4,13);">
                            <span class="hover_text" is="target_id">Education</span>
                                <img src="~/assets/images/Education.jpg">
                        </div>
                        <div class="box2 fade-in" id="prio5M" onclick="mobileClickOccurence(5,16);">
                            <span class="hover_text" is="target_id">Regular Savings</span>
                            <img src="~/assets/images/regularSave.jpg">
                        </div>
                    </div>
                </div>
            </section>

            @* retirement *@
            <section class="page_section fade-in" id="section_4">
                <div class="bottom">
                    <div class="center">
                        <h4 class="mt-1 fw_600" style="font-size: 26px">How Do You See Yourself During Retirement?</h4>
                        <img style="width: 100%;" src="~/assets/sales-ill/retirement.jpg">
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_5">
                <div class="bottom">
                    <div class="center">
                        <div class="row alignCenter">
                            <div class="col-4" id="ret5_1">
                                <div class="d-flex alignCenter justifyCenter">
                                    <img style="width:28%;" src="~/assets/sales-ill/ret1.png">
                                    <p class="content_font3 ml-3 mr-3">Explore the world</p>
                                    <img style="width:10%;" src="~/assets/sales-ill/arrow-up2.png">
                                </div>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4" id="ret5_2">
                                <div class="d-flex alignCenter justifyCenter">
                                    <img style="width:10%;" src="~/assets/sales-ill/redArrow-up.png">
                                    <p class="content_font3 ml-3 mr-3">Anxious to spend</p>
                                    <img style="width:35%;" src="~/assets/sales-ill/ret4.png">
                                </div>
                            </div>
                        </div>

                        <div class="row alignCenter">
                            <div class="col-4" id="ret5_3">
                                <div class="d-flex alignCenter justifyCenter">
                                    <img style="width:28%;" src="~/assets/sales-ill/ret2.png">
                                    <p class="content_font3 ml-3 mr-3">Relaxed and laid back</p>
                                    <img style="width:10%;" src="~/assets/sales-ill/arrow-mid2.png">
                                </div>
                            </div>
                            <div class="col-4 d-flex alignCenter justifyCenter">
                                <h4 class="fw_600" style="color: #70AD47;">Ideal Retirement</h4>
                                <h4 class="fw_600 ml-3 mr-3">vs</h4>
                                <h4 class="fw_600" style="color: red;">Not So Ideal Retirement</h4>
                            </div>
                            <div class="col-4" id="ret5_4">
                                <div class="d-flex alignCenter justifyCenter">
                                    <img style="width:10%;" src="~/assets/sales-ill/redArrow.png">
                                    <p class="content_font3 ml-3 mr-3">Stress and worry</p>
                                    <img style="width:28%;" src="~/assets/sales-ill/ret5.png">
                                </div>
                            </div>
                        </div>

                        <div class="row alignCenter">
                            <div class="col-4" id="ret5_5">
                                <div class="d-flex alignCenter justifyCenter">
                                    <img style="width:28%;" src="~/assets/sales-ill/ret3.png">
                                    <p class="content_font3 ml-3 mr-3">Stress-free</p>
                                    <img style="width:10%;" src="~/assets/sales-ill/arrow-down3.png">
                                </div>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4" id="ret5_6">
                                <div class="d-flex alignCenter justifyCenter">
                                    <img style="width:10%;" src="~/assets/sales-ill/redArrow-down.png">
                                    <p class="content_font3 ml-3 mr-3">Late retirement</p>
                                    <img style="width:35%;" src="~/assets/sales-ill/ret6.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_6">
                <div class="bottom" style="display:block !important">
                        <div class="row">
                            <div class="col-6">
                            <h4 class="fw_600 ml-3 mt-1">Benefits of Having Insurance Retirement Plan</h4>
                            <div class="alignCenter mt-1 mb-2 ml-5" id="ret6_1" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Carefree golden years</p>
                                </div>
                            <div class="alignCenter mb-2 ml-5" id="ret6_2" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Pre-planned retirement funds</p>
                                </div>
                            <div class="alignCenter mb-2 ml-5" id="ret6_3" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Provide a sense of security and stability</p>
                                </div>
                            <div class="alignCenter mb-2 ml-5" id="ret6_4" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Flexible passive income <small>(GCP, GCP Booster)</small></p>
                                </div>
                            <div class="alignCenter ml-5" id="ret6_5" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Secure your financial future</p>
                                </div>
                            </div>
                        <div class="col-6 alignCenter justifyCenter" style="display:flex;">
                                <img style="width:70%" src="~/assets/sales-ill/ret3.jpg">
                            </div>
                        </div>
                </div>
            </section>

            @* investment *@
            <section class="page_section fade-in" id="section_7">
                <div class="bottom">
                    <div class="center">
                        <div class="row">
                            <div class="col-3" id="inv7_1">
                                <h4 class="fw_600 mt-1">To Invest?</h4>
                                <img style="width:80%;" src="~/assets/sales-ill/invest.png">
                            </div>
                            <div class="col-6">
                                <h4 class="fw_600 mt-1">OR</h4>
                                <div class="d-flex" style="align-items: baseline; justify-content: center;">
                                    <img style="width:12%;" src="~/assets/sales-ill/arrow-down2.png">
                                    <h4 class="fw_600 ml-1 mr-1" style="color: red;">Why Not Both With Investment-Linked Plan?</h4>
                                    <img style="width:12%;" src="~/assets/sales-ill/arrow-down3.png">
                                </div>
                                <img style="width:38%;" src="~/assets/sales-ill/invest2.png">
                            </div>
                            <div class="col-3" id="inv7_2">
                                <h4 class="fw_600 mt-1">To Protect?</h4>
                                <img style="width:70%;" src="~/assets/sales-ill/invest3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_8">
                <div class="bottom">
                    <div class="center">
                        <div class="row mt-1" style="align-items: flex-start;">
                            <div class="col-3" id="inv8_1">
                                <div class="d-flex" style="align-items: center; justify-content: space-around;">
                                    <div>
                                        <p class="content_font3" style="text-align: center !important;">Stock Market</p>
                                        <img style="width:70%;" src="~/assets/sales-ill/inv1.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6" style="display: flex; justify-content: space-between; align-items: center;">
                                <img style="width:9%;" src="~/assets/sales-ill/arrow-mid2.png">
                                <h4 class="fw_600">Types of Investment Tools:</h4>
                                <img id="inv8_5" style="width:9%;" src="~/assets/sales-ill/arrow-mid.png">
                            </div>
                            <div class="col-3" id="inv8_4">
                                <div class="d-flex" style="align-items: center; justify-content: space-around;">
                                    <div>
                                        <h4 style="color: #0106E3; font-weight: 600;">Insurance (Investment-Linked)</h4>
                                        <img style="width:80%;" src="~/assets/sales-ill/inv4.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justifyCenter" style="margin: -5rem;">
                            <div class="col-4" id="inv8_2">
                                <div class="d-flex" style="align-items: center; flex-direction: column;">
                                    <img style="width:12%; transform: rotate(130deg);" src="~/assets/sales-ill/arrow-mid.png">
                                    <div>
                                        <p class="content_font3" style="text-align: center !important;">Real Estate</p>
                                        <img style="width:55%;" src="~/assets/sales-ill/inv2.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" id="inv8_3">
                                <div class="d-flex" style="align-items: center; flex-direction: column;">
                                    <img style="width:12%; transform: rotate(56deg);" src="~/assets/sales-ill/arrow-mid.png">
                                    <div>
                                        <p class="content_font3" style="text-align: center !important;">Mutual Fund</p>
                                        <img style="width:55%;" src="~/assets/sales-ill/inv3.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_9">
                <div class="bottom">
                    <div class="center">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="mt-1 fw_600">Benefits of Insurance with Investment-Linked Plan</h4>
                                <img style="width:50%" src="~/assets/sales-ill/invest5.png">
                            </div>
                            <div class="col-6">
                                <div class="d-flex alignCenter mt-1 mb-2" id="inv9_1">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Provides both life protection and investment opportunities</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="inv9_2">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Potential upside of fund value</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="inv9_3">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Wealth accumulation for financial goals</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="inv9_4">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Creditor-proof assets distribution <small>(Trust nomination)</small></p>
                                </div>
                                <div class="d-flex alignCenter" id="inv9_5">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Faster wealth transfer <small>(with nomination)</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @* income replacement *@
            <section class="page_section fade-in" id="section_10">
                <div class="bottom" style="display: block !important;">
                    <div class="center">
                        <div class="row mt-1">
                            <div class="col-7">
                                <h4 class="fw_600">To provide financial security to your loved ones, diversify your financial portfolio in each tyre!</h4>
                                <div class="row mt-2">
                                    <div class="col-3 p-0" style="display: flex; justify-content: space-between; flex-direction: column; align-items: end;">
                                        <p class="content_font3">Cash/FD</p>
                                        <p class="content_font3">Bond/Stock</p>
                                    </div>
                                    <div class="col-6 p-0">
                                        <img style="width:100%;" src="~/assets/sales-ill/wheel.png">
                                    </div>
                                    <div class="col-3 p-0" style="display: flex; justify-content: space-between; flex-direction: column; align-items: start;">
                                        <h4 class="fw_600" style="color:#0106E3;">Insurance</h4>
                                        <p class="content_font3">Property</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-8 p-0">
                                        <h4 class="fw_600" style="color:#00CC00;">GOAL: FINANCIAL FREEDOM</h4>
                                        <img style="width:46%;" src="~/assets/sales-ill/race.png">
                                    </div>
                                    <div class="col-3 p-0">
                                        <img style="width:75%;" src="~/assets/sales-ill/incomeRepl.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_11">
                <div class="bottom" style="display: block !important;">
                    <p class="content_font3 ml-3 mb-0">Life is full of uncertainties....</p>
                    <div class="center">
                        <h4 class="fw_600">If one day you are no longer here due to:</h4>
                        <div class="d-flex alignCenter justifyCenter">
                            <img id="inc11_1" style="width:20%;" src="~/assets/sales-ill/inc1.png">
                            <img id="inc11_2" style="width:20%;" src="~/assets/sales-ill/inc2.png">
                            <img id="inc11_3" style="width:20%;" src="~/assets/sales-ill/inc3.png">
                            <img id="inc11_4" style="width:20%;" src="~/assets/sales-ill/inc4.png">
                            <img id="inc11_5" style="width:20%;" src="~/assets/sales-ill/inc5.png">
                        </div>
                        
                        <h4 class="fw_600 mt-1">What will happen to your loved ones?</h4>
                        <img style="width:22%;" src="~/assets/sales-ill/income2.png">
                    </div>
                </div>
            </section>

             <section class="page_section fade-in" id="section_12">
                <div class="bottom" style="display:block !important;">
                    <div class="center">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="mt-1 fw_600">Benefits of Having Insurance as an Income Replacement?</h4>
                                <img style="width:50%" src="~/assets/sales-ill/income3.png">
                            </div>
                            <div class="col-6">
                                <div class="d-flex alignCenter mt-1 mb-2" id="inc12_1">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Lead towards debt-free lifestyle</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="inc12_2">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Uphold family living standards</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="inc12_3">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Lifetime stream of passive income</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="inc12_4">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Provide continuity of income to your loved ones</p>
                                </div>
                                <div class="d-flex alignCenter" id="inc12_5">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Backup funds to cover estate taxes and expenses</p>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </section>

            @* eudcation *@
            <section class="page_section fade-in" id="section_13">
                <div class="bottom">
                    <div class="center">
                        <h4 class="mt-1 fw_600" style="font-size: 26px">It Is Never Too Early To Save For Your Child’s Education!</h4>
                        <img src="~/assets/sales-ill/edu1.png">
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_14">
                <div class="bottom">
                    <div class="center">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="mt-1 fw_600" style="color: red">Risks of Failure For Early Education Planning:</h4>
                                <img style="width:73%" src="~/assets/sales-ill/edu2.png">
                            </div>
                            <div class="col-6">
                                <div class="d-flex alignCenter mt-1 mb-1" id="edu14_1">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-up.png">
                                    <p class="content_font3 ml-4 fw_600" style="color: #00546C;">Work part-time while studying</p>
                                </div>
                                <div class="d-flex alignCenter mb-1" id="edu14_2">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-up.png">
                                    <p class="content_font3 ml-4 fw_600" style="color: #00546C;">Funding from retirement fund</p>
                                </div>
                                <div class="d-flex alignCenter mb-1" id="edu14_3">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-mid.png">
                                    <p class="content_font3 ml-4 fw_600" style="color: #00546C;">Take up an education loan</p>
                                </div>
                                <div class="d-flex alignCenter mb-1" id="edu14_4">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-down.png">
                                    <p class="content_font3 ml-4 fw_600" style="color: #00546C;">Start working at an early age</p>
                                </div>
                                <div class="d-flex alignCenter" id="edu14_5">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-down.png">
                                    <p class="content_font3 ml-4 fw_600" style="color: #00546C;">Apply for PTPTN loan</p>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_15">
                <div class="bottom" style="display: block !important;">
                    <div class="center">
                        <h4 class="fw_600">Importance of Insurance to Education Planning:</h4>
                        <div class="row">
                            <div class="col-4" style="display: flex; flex-direction: column; align-items: center;" id="edu15_1">
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <img style="width:50%;height:150px" src="~/assets/sales-ill/edu3.png">
                                    <div class="d-flex alignCenter">
                                        <img style="width:10%;" src="~/assets/sales-ill/badge.png">
                                        <p class="content_font3 ml-2 fw_600" style="color: #00546C; margin-bottom: 0;">Secured education funding for children</p>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;" class="mt-2" id="edu15_2">
                                    <img style="width:70%;height:150px" src="~/assets/sales-ill/edu4.jpg">
                                    <div class="d-flex alignCenter">
                                        <img style="width:10%;" src="~/assets/sales-ill/badge.png">
                                        <p class="content_font3 ml-2 fw_600" style="color: #00546C; margin-bottom: 0;">Offer direction to your children</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" style="display: flex; justify-content: center; align-items: center;" id="edu15_3">
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <img style="width:90%;height:150px" src="~/assets/sales-ill/edu5.png">
                                    <div class="d-flex alignCenter">
                                        <img style="width:10%; height: 10%;" src="~/assets/sales-ill/badge.png">
                                        <p class="content_font3 ml-2 fw_600" style="color: #00546C; margin-bottom: 0;">Debt-free future for children</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" style="display: flex; flex-direction: column; align-items: center;">
                                <div style="display: flex; flex-direction: column; align-items: center;" id="edu15_4">
                                    <img style="width:50%;height:150px" src="~/assets/sales-ill/edu6.png">
                                    <div class="d-flex alignCenter">
                                        <img style="width:10%;" src="~/assets/sales-ill/badge.png">
                                        <p class="content_font3 ml-2 fw_600" style="color: #00546C; margin-bottom: 0;">Unfortunate circumstances to parents</p>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: column; align-items: center;" class="mt-2" id="edu15_5">
                                    <img style="width:50%;height:150px" src="~/assets/sales-ill/edu7.png">
                                    <div class="d-flex alignCenter">
                                        <img style="width:10%;" src="~/assets/sales-ill/badge.png">
                                        <p class="content_font3 ml-2 fw_600" style="color: #00546C; margin-bottom: 0;">Cultivate good financial habit to your children</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            @* regular saving *@
            <section class="page_section fade-in" id="section_16">
                <div class="bottom">
                    <div class="center" style="width: 100%;">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="mt-1 fw_600">What is The Importance of Having Regular Savings?</h4>
                                <img style="width:50%" src="~/assets/sales-ill/regSave.png">
                            </div>
                            <div class="col-6">
                                <div class="d-flex alignCenter mt-1 mb-2" id="reg16_1">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-up.png">
                                    <p class="content_font3 ml-4 fw_600">Offer financial stability</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="reg16_2">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-up.png">
                                    <p class="content_font3 ml-4 fw_600">Fulfill life stages accomplishment</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="reg16_3">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-mid.png">
                                    <p class="content_font3 ml-4 fw_600">Quality lifestyle</p>
                                </div>
                                <div class="d-flex alignCenter mb-2" id="reg16_4">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-down.png">
                                    <p class="content_font3 ml-4 fw_600">Safety net for rainy days</p>
                                </div>
                                <div class="d-flex alignCenter" id="reg16_5">
                                    <img style="width:10%" src="~/assets/sales-ill/arrow-down.png">
                                    <p class="content_font3 ml-4 fw_600">Unexpected expenses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <section class="page_section fade-in" id="section_17">
                <div class="bottom">
                    <div class="center">
                        <div class="row alignCenter">
                            <div class="col-4" id="reg17_1">
                                <div class="d-flex" style="align-items: center; justify-content: space-around;">
                                    <div>
                                        <p class="content_font3"style="text-align: center !important;">Cash Savings</p>
                                        <img style="width:60%;" src="~/assets/sales-ill/reg1.png">
                                    </div>
                                    <img style="width:12%;" src="~/assets/sales-ill/arrow-mid2.png">
                                </div>
                            </div>
                            <div class="col-4">
                                <h4 class="fw_600">How Can You Start Saving?</h4>
                            </div>
                            <div class="col-4" id="reg17_4">
                                <div class="d-flex" style="align-items: center; justify-content: space-around;">
                                    <img style="width:12%;" src="~/assets/sales-ill/arrow-mid.png">
                                    <div>
                                        <h4 style="color: #0106E3; font-weight: 600;">Insurance</h4>
                                        <img style="width:60%;" src="~/assets/sales-ill/reg4.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justifyCenter" style="margin: -3rem;">
                            <div class="col-4" id="reg17_2">
                                <div class="d-flex" style="align-items: center; flex-direction: column;">
                                    <img style="width:12%; transform: rotate(130deg);" src="~/assets/sales-ill/arrow-mid.png">
                                    <div>
                                        <p class="content_font3" style="text-align: center !important;">EPF/PRS</p>
                                        <img style="width:55%;" src="~/assets/sales-ill/reg2.png">
                                    </div>                                    
                                </div>
                            </div>
                            <div class="col-4" id="reg17_3">
                                <div class="d-flex" style="align-items: center; flex-direction: column;">
                                    <img style="width:12%; transform: rotate(56deg);" src="~/assets/sales-ill/arrow-mid.png">
                                    <div>
                                        <p class="content_font3" style="text-align: center !important;">Property investment</p>
                                        <img style="width:55%;" src="~/assets/sales-ill/reg3.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_18">
                <div class="bottom">
                    <div class="center">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="mt-1 fw_600">Benefits of Regular Savings with Insurance</h4>
                                <img style="width:70%" src="~/assets/sales-ill/regSave3.png">
                            </div>
                            <div class="col-6">
                                <div class="alignCenter mt-1 mb-2" id="reg18_1" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Peace of mind</p>
                                </div>
                                <div class="alignCenter mb-2" id="reg18_2" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Savings with protection</p>
                                </div>
                                <div class="alignCenter mb-2" id="reg18_3" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Simple distribution process <small>(credit proof)</small></p>
                                </div>
                                <div class="alignCenter mb-2" id="reg18_4" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Financial security</p>
                                </div>
                                <div class="alignCenter" id="reg18_5" style="display:flex;">
                                    <img style="width:8%" src="~/assets/sales-ill/badge.png">
                                    <p class="content_font3 ml-4">Emergency fund</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

                <section class="page_section fade-in" id="section_19">
                <div class="bottom"style="display: block !important;">
                    <div class="center">
                        <div class="row mt-2" style="align-items:baseline;">
                            <div class="col">
                                <p class="fs_115 fw_600 riskAlign">Low Potential Return<br>Low Risk</p>
                            </div>
                            <div class="col-lg col-6 justifyCenter alignCenter" style="flex-direction:column; display:flex;">
                                <h2 class="fw_600 riskOption" id="riskBox1" onclick="riskClick(1)">1</h2>
                                <h4 class="fw_600">Conservative</h4>
                            </div>
                            <div class="col-lg cold-6 justifyCenter alignCenter" style="flex-direction:column; display:flex;">
                                <h2 class="fw_600 riskOption" id="riskBox2" onclick="riskClick(2)">2</h2>
                                <h4 class="fw_600">Moderately Conservative</h4>
                            </div>
                            <div class="col-lg cold-6 justifyCenter alignCenter" style="flex-direction:column; display:flex;">
                                <h2 class="fw_600 riskOption" id="riskBox3" onclick="riskClick(3)">3</h2>
                                <h4 class="fw_600">Moderate</h4>
                            </div>
                            <div class="col-lg cold-6 justifyCenter alignCenter" style="flex-direction:column; display:flex;">
                                <h2 class="fw_600 riskOption" id="riskBox4" onclick="riskClick(4)">4</h2>
                                <h4 class="fw_600">Aggressive</h4>
                            </div>
                            <div class="col-lg cold-6 justifyCenter alignCenter" style="flex-direction:column; display:flex;">
                                <h2 class="fw_600 riskOption" id="riskBox5" onclick="riskClick(5)">5</h2>
                                <h4 class="fw_600">Very Aggressive</h4>
                            </div>
                            <div class="col">
                                <p class="fs_115 fw_600 riskAlign2">High Potential Return<br>High Risk</p>
                            </div>
                        </div>

                        <div class="row" id="riskArrowRow">
                            <div class="col">
                            </div>
                            <div class="col">
                                <img id="riskArr1" style="width:55%; display: none;" src="~/assets/sales-ill/risk.png">
                            </div>
                            <div class="col">
                                <img id="riskArr2" style="width:55%; display: none;" src="~/assets/sales-ill/risk2.png">
                            </div>
                            <div class="col">
                                <img id="riskArr3" style="width:55%; display: none;" src="~/assets/sales-ill/risk3.png">
                            </div>
                            <div class="col">
                                <img id="riskArr4" style="width:55%; display: none;" src="~/assets/sales-ill/risk4.png">
                            </div>
                            <div class="col">
                                <img id="riskArr5" style="width:55%; display: none;" src="~/assets/sales-ill/risk5.png">
                            </div>
                            <div class="col">
                            </div>
                        </div>

                        <div class="row justifyCenter mt-1" style="display: none;" id="riskMeter">
                            <div style="width: 66%" class="d-flex alignCenter">
                                <img id="riskMeterImg" src="~/assets/sales-ill/riskMeter.png">
                                <h6 class="fw_600 ml-3" id="riskText" style="text-align:left;">You are conservative in your investment and prefer products that preserve capital, e.g. Bank's Fixed Deposits or Savings Account</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page_section fade-in" id="section_20">
                <div class="bottom">

                    <div class="carousel mt-3" data-flickity='{ "wrapAround": true }'>

                        <div class="carousel-cell" id="REP">
                            <div onclick="goToREP('mass')">
                                <div style="background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Essential Protect</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/Mass.png">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A limited premium payment term Investment-Linked endowment plan covering Death, Total and Permanent Disability (TPD) or Senior Disability (SD).</li>
                                        <li class="fs_13">Additional coverage on accidental death or TPD of the Life Assured and his/her legal spouse.</li>
                                        <li class="fs_13">This plan also provides Lifestyle Reward in which additional Basic Sum Assured will be added upon every end of the 5 policy years.</li>
                                        <li class="fs_13">Loyalty Bonus is also payable to the Protection Fund Value based on the age of entitlement. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-cell" id="REPP">
                            <div onclick="goToREP('premier');">
                                <div style="background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Essential Protect Premier</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/Premier.png">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A limited premium payment term Investment-Linked endowment plan covering Death, Total and Permanent Disability (TPD) or Senior Disability (SD).</li>
                                        <li class="fs_13">Additional coverage on accidental death or TPD of the Life Assured and his/her legal spouse.</li>
                                        <li class="fs_13">This plan also provides Lifestyle Reward in which additional Basic Sum Assured will be added upon every end of the 5 policy years.</li>
                                        <li class="fs_13">Loyalty Bonus is also payable to the Protection Fund Value based on the age of entitlement. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-cell" id="RT100">
                            <div onclick="goToRt100('mass');">
                                <div style="background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Treasure 100</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/rt100/slide_1.png">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A non-participating plan that provides annual Guaranteed Cash Payment (GCP) until the maturity of policy. </li>
                                        <li class="fs_13">This plan also provides coverage on Death or Total & Permanent Disability (TPD).  </li>
                                        <li class="fs_13">Additional coverage will be provided for Death or TPD due to Accident. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        
                       
                        <div class="carousel-cell" id="RT100P">
                            <div onclick="goToRt100('premier');">
                                <div style="background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Treasure 100 Premier</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/rt100/slide_1_2.png">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A non-participating plan that provides annual Guaranteed Cash Payment (GCP) until the maturity of policy. </li>
                                        <li class="fs_13">This plan also provides coverage on Death or Total & Permanent Disability (TPD).  </li>
                                        <li class="fs_13">Additional coverage will be provided for Death or TPD due to Accident. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-cell" id="RTB">
                            <div onclick="goToRhbTreasureBuilder()">
                                <div style="background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">RHB Treasure Builder</div>
                                <img loading="lazy"  style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/main3.jpg">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">A limited 5 or 8 pay regular premium Investment-Linked plan covering Death or Total & Permanent Disability (TPD) up to 20 or 25 years. </li>
                                        <li class="fs_13">This plan also comes with packaged premium paying riders that provides annual Guaranteed Cash Payment (GCP) until the maturity of policy. Additional GCP Booster will also be payable at the end of every five policy year. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-cell" id="RTS">
                            <div onclick="goToRhbTreasureSupreme()">
                                <div style="background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">
                                    RHB Treasure Supreme
                                </div>
                                <img loading="lazy" style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/supreme.jpg">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">
                                            A non-participating plan that provides annual Guaranteed Cash Payment (GCP) until the maturity of policy.
                                        </li>
                                        <li class="fs_13">
                                            Short premium term of 3 years with Guaranteed Acceptance up to RM500,000.
                                        </li>
                                        <li class="fs_13">
                                            This plan also provides coverage on Death or Total & Permanent Disability (TPD). 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-cell" id="RFW">
                            <div onclick="goToRhbTreasureFlexiWealth()">
                                <div style="background: #0096a9;
                                    padding: 10px;
                                    text-align: center;
                                    color: #fff;
                                    font-weight: 600;">
                                    RHB Treasure FlexiWealth
                                </div>
                                <img loading="lazy" style="
                                display: block;
                                margin-left: auto;
                                cursor: pointer;
                                margin-right: auto; width: 100%" src="~/assets/flexi.jpg">

                                <div class="bottom_Description_f">
                                    <ul>
                                        <li class="fs_13">
                                            Our premier 3-pay investment-linked plan, designed to offer enduring coverage for Death or Total and Permanent Disability (TPD) up to your 100th birthday!
                                        </li>
                                        <li class="fs_13">
                                            This plan requires only 3 regular premium payments, making it an optimal choice for those seeking substantial long-term protection with minimal upfront commitment.
                                        </li>
                                        <li class="fs_13">
                                            Receive an exclusive Loyalty Bonus equal to 100% of your Basic Sum Assured (BSA), a reward for your commitment, payable at significant milestones — age 70, 80, 90, or 100 next birthday.
                                        </li>
                                        <li class="fs_13">
                                            Enhance your peace of mind with comprehensive Spouse Accidental Death and Total Permanent Disability Coverage. 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </section>

            <section class="page_section fade-in" id="section_21">
                <div class="bottom" style="margin: auto; height: 50%;">
                    <div class="center">
                        <h1>There is no product available</h1>
                    </div>
                </div>
            </section>

            <div class="strict">
                STRICTLY FOR INTERNAL USE ONLY
            </div>
        </div>
    </section>
</body>

</html>